.main-nav {

	&--list {
		margin-top: 0;

		a {
			@10px: (1em * (10 / @base-text-size));
			@15px: (1em * (15 / @base-text-size));
			
			display: block;
			padding: @10px @15px;
			text-decoration: none;

			&:hover,
			&:focus,
			&.is-current {
			}
		}
	}
}


.eyebrow-nav {
	border-bottom: dashed 1px @light-grey;
	color: @grey;
}

.eyebrow-nav--link {
	color: @client-color-2;
	text-decoration: none;
}